<section id="home" class="video-hero bg-main-1" style="height: 500px;background-size: cover;background-position: center center;background-attachment: fixed;"
    data-section="home">
    <div class="overlay"></div>
    <div class="display-t display-t2 text-center">
        <div class="display-tc display-tc2">
            <div class="container">
                <div class="col-md-12 col-md-offset-0">
                    <div class="animate-box">
                        <h2>Portfolio grid with text</h2>
                        <p class="breadcrumbs">
                            <span>
                                <a href="index.html">Home</a>
                            </span>
                            <span>Work grid with text</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="colorlib-work">
    <div class="container">
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="work-grid">
                    <%= image_tag("work-1.jpg",class:"work-img", alt:"")%>

                        <div class="desc">
                            <h2>
                                <a href="#">A beige chair at a basket</a>
                            </h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                                life
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="work-grid">
                    <%= image_tag("work-2.jpg",class:"work-img", alt:"")%>
                        <div class="desc">
                            <h2>
                                <a href="#">A beige chair at a basket</a>
                            </h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                                life
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="work-grid">
                    <%= image_tag("work-3.jpg",class:"work-img", alt:"")%>
                        <div class="desc">
                            <h2>
                                <a href="#">A beige chair at a basket</a>
                            </h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                                life
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="work-grid">
                    <%= image_tag("work-4.jpg",class:"work-img", alt:"")%>
                        <div class="desc">
                            <h2>
                                <a href="#">A beige chair at a basket</a>
                            </h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                                life
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="work-grid">
                    <%= image_tag("work-5.jpg",class:"work-img", alt:"")%>
                        <div class="desc">
                            <h2>
                                <a href="#">A beige chair at a basket</a>
                            </h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                                life
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="work-grid">
                    <%= image_tag("work-6.jpg",class:"work-img", alt:"")%>
                        <div class="desc">
                            <h2>
                                <a href="#">A beige chair at a basket</a>
                            </h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                                life
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="work-grid">
                    <%= image_tag("work-7.jpg",class:"work-img", alt:"")%>
                        <div class="desc">
                            <h2>
                                <a href="#">A beige chair at a basket</a>
                            </h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                                life
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="work-grid">
                    <%= image_tag("work-8.jpg",class:"work-img", alt:"")%>
                        <div class="desc">
                            <h2>
                                <a href="#">A beige chair at a basket</a>
                            </h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                                life
                            </p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="work-grid">
                    <%= image_tag("work-9.jpg",class:"work-img", alt:"")%>
                        <div class="desc">
                            <h2>
                                <a href="#">A beige chair at a basket</a>
                            </h2>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                                life
                            </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>