<% post ||= nil %>
<div class="container">
  <div class="col-mt-8 col-md-pull-4 animate-box">

    <%= form_for post do |f| %>
      <div class="row form-group">
        <div class="col-md-12">
          <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <%= f.text_field :body, class: "form-control", placeholder: "Body" %>
        </div>
      </div>
      <%= f.file_field :avatar %>
      <div class="form-group">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
