<%= render 'layouts/hero', title: "Jay's Blog", body: "Welcome To Jay's Blog", link_name: "New", link: new_post_path %>

<div class="colorlib-blog">
	<div class="container">
    <% @post.each_with_index do |post, index| %>
    <% if index % 3 == 0 %>
      <div class="row">
    <% end %>
			<div class="col-md-4 animate-box">
				<article>
					<h2>
						<%= link_to post.title, post_path(post) %>
					</h2>
					<p class="admin">
						<span><%= post.created_at.strftime("%M %d, %Y")%></span>
					</p>
					<p><%= post.body %></p>
					<p class="author-wrap">
						<%=image_tag("person1.jpg",class:"author-img", alt: "")%>
					<span style="margin-left:50px;"><%= post.user.email %></span>
					</p>
					<br>
					<%= link_to "edit", edit_post_path(post)%>
					<%= link_to "delete", post_path(post), data: {method: :delete} %>
					<% if current_user %>
						<div id="like_partial_<%=post.id%>">
								<% liked = post.likes.find_by(user_id: current_user.id).present?%>
								<%= render "posts/like-btn", liked: @liked, post: post %>
						</div>
				<% end %>
				<!-- <button type="button" name="button" class="glyphicon glyphicon-thumbs-up"></button> -->
			</article>
		</div>
	<% if index % 3 == 2 %>
		</div>
	<%end%>
	<%end%>
</div>
</div>

<script>
$(function(){
	$(".like_btn, .dislike_btn ").click(function () {
		console.log("old");
		let post_id = $(this).data("id");
		let redirect_path = $(this).data("url");
		$("#like_btn_"+post_id).toggle();
		$("#dislike_btn_"+post_id).toggle();
		$.get(redirect_path);
		let before_value = parseInt($("#like-count-"+post_id).text());
		return false;
	})
})
</script>
